<table class="transfer-table w-100">
  <tr [style.paddingTop]="0">
    <th class="player-col">Player</th>
    <th>Fee</th>
    <th>From</th>
    <th>Position</th>
    <th>Contract</th>
    <th>Market value</th>
    <th>Date</th>
  </tr>
  <tr *ngFor="let transfer of transfers">
    <td class="player-col">
      <app-player-transfer-data
        [playerId]="transfer.playerId!"
        [toClub]="transfer.toClub!"
        [toClubId]="transfer.toClubId!"
        [playerName]="transfer.name!"
      ></app-player-transfer-data>
    </td>
    <td>{{ transfer.fee?.feeText | titlecase }}</td>
    <td>
      <a [routerLink]="['/club', transfer.fromClubId]" class="to-club">
        <div class="club-image">
          <img
            [src]="transfer.fromClubId | teamImage"
            [alt]="transfer.fromClub"
            appTeamFallbackImageDirective
          />
        </div>
        {{ transfer.fromClub }}
      </a>
    </td>
    <td>
      <span *ngIf="transfer.position" class="position">
        {{ transfer.position.label | uppercase }}
      </span>
    </td>
    <td>
      {{ (transfer.fromDate | date : "MMM y") ?? "Undisclosed" }} -
      {{ (transfer.toDate | date : "MMM y") ?? "Undisclosed" }}
    </td>
    <td>{{ transfer.marketValue }}</td>
    <td>{{ (transfer.transferDate | date : "d MMM y") ?? "Undisclosed" }}</td>
  </tr>
</table>
