<div class="transfer-card w-100">
  <div class="details">
    <img [src]="transferInfo.img" alt="player image" class="player-img" />
    <div class="coll">
      <div class="roww">
        <p class="name">{{ transferInfo.name }}</p>
      </div>
      <div class="roww">
        <img class="from" [src]="transferInfo.fromImg" alt="fromImg" />
        <!-- icon arrow right solid circle-->
        <app-arrow-right-solid></app-arrow-right-solid>
        <img [src]="transferInfo.toImg" alt="toImg" class="to" />
      </div>
    </div>
  </div>
  <div class="price">
    <p class="price__text">{{ transferInfo.price }}</p>
  </div>
</div>
