<div class="transfer-card w-100">
  <div class="details">
    <img
      appPlayerFallbackImage
      [src]="transferInfo.playerId | playerImage"
      alt="player image"
      class="player-img"
    />
    <div class="coll">
      <div class="roww">
        <p class="name">{{ transferInfo.name }}</p>
      </div>
      <div class="roww">
        <img
          class="from"
          [src]="transferInfo.fromClubId | teamImage"
          appTeamFallbackImageDirective
          alt="fromImg"
        />
        <!-- icon arrow right solid circle-->
        <app-arrow-right-solid class="center row"></app-arrow-right-solid>
        <img [src]="transferInfo.toClubId | teamImage" alt="toImg" class="to" appTeamFallbackImageDirective />
      </div>
    </div>
  </div>
  <div class="price">
    <span class="price__text" *ngIf="transferInfo.fee?.feeText == 'fee'">
      {{ transferInfo.fee?.value }}
    </span>
    <span class="price__text" *ngIf="transferInfo.fee?.feeText != 'fee'">
      {{ transferInfo.fee?.feeText || "On Loan" | titlecase }}
    </span>
  </div>
</div>
