
.news-card
  transition: all .2s ease-in-out
  text-decoration: none
  width: 100%
  height: 100%
  display: grid
  grid-template-columns: max-content 10fr
  gap: 2rem
  align-items: start
  justify-content: center
  &:hover
    opacity: .6

  .news-img
    aspect-ratio: 16/9
    max-width: 260px
    overflow: hidden
    object-fit: cover
    @media (max-width: 768px)
      max-width: 180px
    img
      width: 100%
      height: 100%
      object-fit: cover
  .content
    display: flex
    flex-direction: column
    align-items: start
    flex-grow: 1
    justify-content: space-between
    height: 100%
    .spacer
      flex-grow: 1
    .news-content
      color: white
      width: 100%
      display: flex
      flex-direction: column
      align-items: start
      justify-content: center
      flex: 1
      .title
        font-weight: 500
        font-size: 1.2rem
        margin-bottom: .5rem
        flex: 1
        text-decoration: none!important
    .source
      display: flex
      align-items: center
      justify-self: flex-end
      justify-content: flex-start
      flex-direction: row
      gap: .5rem
      .source-img
        overflow: hidden
        object-fit: contain
        img
          width: 20px
          height: 20px
          object-fit: contain
      .source-name
        font-size: .8rem
        font-weight: 700
        color: white
        text-decoration: none!important
      .time
        font-size: .8rem
        font-weight: 400
        color: gray
        text-decoration: none!important
