<footer class="footer">
  <ul class="nav">
    <li>
      <a [routerLink]="['/news']" [routerLinkActive]="['active']"
        ><span>News</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="26"
          height="26"
          viewBox="0 0 18 18.003"
        >
          <g
            id="ic_trending"
            transform="translate(-8397 -5773) translate(8397 5773)"
          >
            <path id="Rectangle_3672" fill="none" d="M0 0H18V18H0z"></path>
          </g>
          <g id="Group_4859" fill="var(--MobileFooter-buttonColor)">
            <path
              id="Path_2332"
              d="M9.018 18.925A9 9 0 0 1 .172 11.6h3.607a1.456 1.456 0 0 0 1.148-.662l.781-1.44c.09-.164.186-.255.27-.255s.17.12.2.329l.562 4.088c.031.225.128.355.265.355a.46.46 0 0 0 .322-.2l2.74-3.374a.691.691 0 0 1 1.03-.06l.719.692a2.218 2.218 0 0 0 1.337.534h4.707a9 9 0 0 1-8.842 7.318z"
              class="cls-1"
              transform="translate(-.012 -.922)"
            ></path>
            <path
              id="Path_2333"
              d="M8.051 9.347c-.138 0-.235-.13-.27-.36l-.719-5.244c-.033-.218-.106-.337-.2-.337s-.18.09-.27.255L3.95 8.5a1.413 1.413 0 0 1-1.141.669H-.006V9a9 9 0 1 1 18 0v.168h-3.359a5.369 5.369 0 0 1-2.189-.534l-1.5-1.44a.689.689 0 0 0-.486-.2.711.711 0 0 0-.546.262L8.368 9.143a.457.457 0 0 1-.317.204z"
              class="cls-1"
              transform="translate(.006 .002)"
            ></path>
          </g>
        </svg>
      </a>
    </li>
    <li>
      <a [routerLink]="['/transfers']" [routerLinkActive]="['active']"
        ><span>Transfers</span
        ><svg
          fill="white"
          xmlns="http://www.w3.org/2000/svg"
          height="26"
          width="26"
          viewBox="0 0 18 18"
        >
          <g id="ic_transfer_center_lm" transform="translate(-15 -159)">
            <g
              id="Group_5799"
              data-name="Group 5799"
              transform="translate(15 159)"
            >
              <g id="Group_5798" data-name="Group 5798">
                <path
                  id="Path_3477"
                  data-name="Path 3477"
                  d="M201.75,1192.458a9,9,0,1,1,9-9A9.011,9.011,0,0,1,201.75,1192.458Zm0-16a7,7,0,1,0,7,7A7.008,7.008,0,0,0,201.75,1176.458Z"
                  transform="translate(-192.75 -1174.458)"
                  fill="var(--GlobalColorScheme-IconColor)"
                ></path>
              </g>
              <g
                id="Group_5795"
                data-name="Group 5795"
                transform="translate(3.735 6.306)"
              >
                <g
                  id="Path_3474"
                  data-name="Path 3474"
                  transform="translate(0 0.124)"
                >
                  <path
                    id="Path_3478"
                    data-name="Path 3478"
                    d="M198.88,1186.188l2.224-2.224a.472.472,0,0,1,.666-.04c.014.012,1.1,1.1,1.1,1.1a.471.471,0,0,1,.04.666c-.013.015-2.264,2.264-2.264,2.264l.917,1.2H197.75v-4.025Z"
                    transform="translate(-197.75 -1183.806)"
                    fill="var(--GlobalColorScheme-IconColor)"
                    fill-rule="evenodd"
                  ></path>
                </g>
                <g
                  id="Path_3475"
                  data-name="Path 3475"
                  transform="translate(5.384)"
                >
                  <path
                    id="Path_3479"
                    data-name="Path 3479"
                    d="M210.455,1186.611l-2.224,2.224a.471.471,0,0,1-.666.04l-1.1-1.1a.471.471,0,0,1-.04-.666c.013-.015,2.264-2.265,2.264-2.265l-1.094-1.235h4.025v4.025Z"
                    transform="translate(-206.306 -1183.61)"
                    fill="var(--GlobalColorScheme-IconColor)"
                    fill-rule="evenodd"
                  ></path>
                </g>
              </g>
            </g>
          </g>
        </svg>
      </a>
    </li>
  </ul>
</footer>
