@import '../../../../styles/variables'

.matches-page
  max-width: $max-width

.subTabContainerCSS
    gap: 24px
    padding: 0px 24px
    display: flex
    -webkit-box-align: center
    align-items: center
    overflow-x: auto
    border-bottom: var(--GlobalColorScheme-Divider)
    font: inherit
    vertical-align: baseline

button
  -webkit-text-decoration: none
  text-decoration: none
  color: var(--GlobalColorScheme-Text-textDefault)
  outline: none
  border: 0
  background: 0
  cursor: pointer
  padding: 0

