<div class="player-row">
  <a class="player-image" [routerLink]="['/player', playerId]">
    <img [src]="playerId | playerImage" appPlayerFallbackImage />
  </a>
  <div class="content">
    <div class="player-name">
      <p>{{ playerName }}</p>
    </div>
    <div class="player-club">
      <app-arrow-right-solid></app-arrow-right-solid>
      <a [routerLink]="['/club', toClubId]" class="to-club">
        <div class="club-image">
          <img
            [src]="toClubId | teamImage"
            appTeamFallbackImageDirective
            [alt]="toClub"
          />
        </div>
        {{ toClub }}
      </a>
    </div>
  </div>
</div>
