<app-wrapper>
  <div class="top-transfers w-100">
    <a class="header w-100" [routerLink]="['../transfers']">
      <div class="header__text">
        <p>Top transfers</p>
        <p class="bydate">By date</p>
      </div>
      <div class="header__icon">
        <app-transfer-icon></app-transfer-icon>
      </div>
    </a>
    <div class="hsep"></div>

    <!-- player transfers... -->
    <ng-container *ngFor="let transfer of transfers">
      <app-transfer-card
        class="w-100"
        [transferInfo]="transfer"
      ></app-transfer-card>
      <div class="hsep"></div>
    </ng-container>
    <div class="footer">
      <a [routerLink]="['../transfers']">Transfer center</a>
    </div>
  </div>
</app-wrapper>
