<div class="transfers-page w-100 m-auto">
  <app-wrapper class="w-100">
    <header>
      <app-transfer-icon></app-transfer-icon>

      <h1>TRANSFER<span>CENTER</span></h1>
    </header>
    <div class="hsep"></div>
    <div class="filters">
      <app-transfers-filter
        [choices]="orderBy.choices"
        [selected]="orderBy.selected"
        (selectedChange)="onOrderByChange($event)"
      ></app-transfers-filter>
      <app-transfers-filter
        [choices]="showTop.choices"
        [selected]="showTop.selected"
        (selectedChange)="onShowTopChange($event)"
      ></app-transfers-filter>
    </div>
    <div class="hsep"></div>
    <ng-container
      class="w-100 center"
      *ngIf="(transfersStatus$ | async) == 'Loading'"
    >
      <app-loading class="w-100 center"></app-loading>
    </ng-container>
    <ng-container *ngIf="(transfersStatus$ | async) == 'Success'">
      <app-transfers-table
        class="w-100"
        [transfers]="(transfersList$ | async)!"
      ></app-transfers-table>

      <div class="show-more" *ngIf="(transfersCount$ | async)! > 100">
        <button
          (click)="onPreviousPage()"
          [disabled]="page == 1"
          [ngClass]="{ disabled: page == 1 }"
        >
          <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </button>
        <span>
          {{ page }} /
          {{ (transfersCount$ | async)! / 100 + 1 | number : "1.0-0" }}</span
        >
        <button
          (click)="onNextPage()"
          [disabled]="page >= (transfersCount$ | async)! / 100"
          [ngClass]="{ disabled: page >= (transfersCount$ | async)! / 100 }"
        >
          <i class="fa fa-arrow-right" aria-hidden="true"></i>
        </button>
      </div>
    </ng-container>
  </app-wrapper>
</div>
