<div class="leagues-page w-100 m-auto">
  <app-wrapper class="w-100">
    <div class="CardCSS">
      <section>
        <header class="PosterCSS w-100">
          <div class="IconAndName">
            <div class="LeagueIconContainer" width="42">
              <img
                src="https://images.fotmob.com/image_resources/logo/leaguelogo/dark/47.png"
                class="Image"
                alt=""
                width="42"
                height="42"
                loading="lazy"
              />
            </div>
            <div class="FifaRanking">
              <span class="TeamOrLeagueName"> <span>Premier League</span></span>
              <span class="CountrySpan">England</span>
            </div>
          </div>
          <div class="SeasonsDropdownWrapper">
            <div style="position: relative">
              <select aria-label="Selected: 2023/2024" class="applyMediumHover">
                <option value="2023/2024">2023/2024</option>
                <option value="2022/2023">2022/2023</option>
                <option value="2021/2022">2021/2022</option>
                <option value="2020/2021">2020/2021</option>
                <option value="2019/2020">2019/2020</option>
                <option value="2018/2019">2018/2019</option>
                <option value="2017/2018">2017/2018</option>
                <option value="2016/2017">2016/2017</option>
                <option value="2015/2016">2015/2016</option>
                <option value="2014/2015">2014/2015</option>
                <option value="2013/2014">2013/2014</option>
                <option value="2012/2013">2012/2013</option>
                <option value="2011/2012">2011/2012</option>
                <option value="2010/2011">2010/2011</option>
              </select>
            </div>
          </div>
        </header>
        <nav class="NavContainerCSS">
          <a
            [routerLinkActive]="'active-link'"
            [routerLink]="['overview']"
            class="navlink"
            >Overview</a
          >
          <a
            [routerLinkActive]="'active-link'"
            [routerLink]="['matches']"
            class="navlink"
            >Matches</a
          >
          <a
            [routerLinkActive]="'active-link'"
            [routerLink]="['transfers']"
            class="navlink"
            >Transfers</a
          >
          <a
            [routerLinkActive]="'active-link'"
            [routerLink]="['news']"
            class="navlink"
            >News</a
          >
        </nav>
      </section>
    </div>
  </app-wrapper>
  <router-outlet></router-outlet>
</div>
