<app-wrapper [padding]="0">
  <a class="league-section-title" [routerLink]="['../leagues', league.id!]">
    <img
      class="league-logo"
      [src]="league.ccode! | countryImage"
      countryFallbackImage
      alt="league logo"
    />
    <span> {{ league.ccode | ccodeToCountry }}</span>
    <span *ngIf="league.ccode | ccodeToCountry"> - </span>
    <span>{{ league.name }}</span>
  </a>
  <ng-container *ngIf="league.matches!.length > 0">
    <ng-container *ngFor="let match of league.matches">
      <app-match-list-item class="w-100" [match]="match"> </app-match-list-item>
    </ng-container>
  </ng-container>
</app-wrapper>
