<nav class="header">
  <div class="wrapper">
    <div class="left">
      <a [routerLink]="['/']">FOTMOB</a>
      <app-searchbar class="search-bar" (onSearch)="onSearchCallBack($event)" ></app-searchbar>
    </div>
    <ul class="right">
      <li>
        <a [routerLink]="['/news']">News</a>
      </li>
      <li>
        <a [routerLink]="['/transfers']">Transfers</a>
      </li>
    </ul>
  </div>
  <app-search-result-card [leagueSearchReslt]="(leagueSearchReslt$|async)!" [teamSearchReslt]="(teamSearchReslt$|async)!" [matchSearchReslt]="(matchSearchReslt$|async)!" [isLoading]="(searchStatus$|async)=='Loading'" ></app-search-result-card>
</nav>
