<div class="overview-page w-100 m-auto">
  <app-wrapper class="w-100">
    <app-overview-matches class="w-100" [gotoIdx]="(overviewMatchesJumpIdx$ | async) ?? 0"
      [matches]="(overviewMatches$ | async) ?? []"></app-overview-matches>
  </app-wrapper>
  <app-wrapper class="w-100">
    <div class="content">
      <h4>News</h4>
      <app-news-overview-list class="w-100" [leagueId]="(currentLeagueId$ | async)!"
        [page]="(currentPage$ | async) ?? 1" [newsList]="(newsList$ | async) ?? []"
        [isLoading]="(newsStatus$ | async) == 'Loading'"></app-news-overview-list>
    </div>
  </app-wrapper>
</div>