$background-color: #000000
$primary-color: #1a1a1a
$secondary-color: #00985f

body
  font-family: 'Roboto', sans-serif
  font-size: 16px
  background-color: black
  color: white
  margin: 0
  padding: 0
